    <!-- Header -->
    <header class="navbar navbar-default navbar-fixed-top" style="background-color:#333333;" role="navigation">
    
    	<ul class="nav header-nav pull-left">
            {% for item in primary_navigation %}
                <li {% if controller == item.route|split('/')[0] %}class="open active"{% endif %}><a href="/{{ item.route }}">{{ item.label }}</a></li>
            {% else %}
                <li><a>NO ACCESS GRANTED</a></li>
            {% endfor %}
        </ul>

        <!-- Right Header Navigation -->
        <ul class="nav header-nav pull-right">
            <li class="navbar-user-status" style="padding:15px; color:#ffffff;">
                <span class="navbar-username">{{ user.username }}</span> @ <span class="navbar-account">{{ user.accountname }}</span>
            </li>


            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-custom pull-right">
                    <li><a id="my-account" href="#"><span class="icon account"></span>My Account</a></li>
                {% if access.user.write %}
                    <li><a href="/admin/users"><span class="icon users"></span>Users</a></li>
                {% endif %}
                {% if access.device.write %}
                    <li><a href="/admin/list"><span class="icon list"></span>Devices</a></li>
                {% endif %}
{#}
                {% if access.device.write or access.user.write %}
                    <li><a href="/admin/list"><span class="icon list"></span>Admin</a></li>
                {% endif %}
{#}
                    <li><a href="/logout"><span class="icon logout"></span>Logout</a></li>

{#}
                    {% if user_id == 2070 %}
                        <hr>
                        {% for k1,v1 in permissions %}
                            {% for k2,v2 in v1 %}
                                <li>{{ v2 }}<br>({{ k1 }}-{{ k2 }})</li><p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
{#}

                </ul>
            </li>
        </ul>
        <!-- END Right Header Navigation -->


        <!-- Left Header Navigation -->
        <ul class="nav header-nav pull-left">
            <li>
                <a href="javascript:void(0)" id="sidebar-left-toggle" title="open sidepanel">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
        <!-- END Left Header Navigation -->
    </header>
    <!-- END Header -->